$font-primary: "Open Sans", sans-serif;
$font-nav: "Archivo Narrow", sans-serif;


$colour-greylight: #E5E5E5;
$colour-grey: #8d8d8d;
$colour-greydark: #262626;
$colour-pink: #C32C72;
$colour-beige:#f4f3ee;
$colour-white:#ffffff;
$colour-shadow:#ababab17;