

.container .row.row-cols-1.row-cols-sm-2.row-cols-md-4 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20%;
}
  

.container .row.row-cols-1.row-cols-sm-2.row-cols-md-4 .col {
    background-color: var(--nav-colour);
    border-radius: 15px;
    box-shadow: 5px 10px #ababab17;
    width: 264px;
    height: 264px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 264px;
            flex: 0 0 264px;
    margin: 10px;
}

.container .box-block-border {
    background-color:#ffffff!important;
    border: 3px solid #C32C72
}

.container .box-block-solid {
    background-color:#C32C72!important;
    border: 3px solid #ffffff;

}
